@font-face {
    font-family: "PP Editorial Old";
    src: url("../fonts/PPEditorialOld-Ultralight.otf") format("opentype");
}

@font-face {
    font-family: "ABC Whyte Edu";
    src: url("./ABCWhyteEdu-Bold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "ABC Whyte Edu";
    src: url("./ABCWhyteEdu-Extralight.woff") format("woff");
    font-weight: 200;
}

@font-face {
    font-family: "ABC Whyte Edu";
    src: url("./ABCWhyteEdu-Book.woff") format("woff");
    font-weight: 300;
}

:root {
    font-size: 120%;
    --color1: white;
    --color2: #191919;
    --textL: 4rem;
    --textM: 2rem;
    --textS: 1rem;

    --spaceL: 3rem;
    --spaceM: 2rem;
    --spaceS: 1rem;

    --font-family: "ABC Whyte Edu";
    --bold: 700;
    --medium: 300;
    --light: 200;
}

h1 {
    font-size: var(--textL);
    padding-block-start: var(--spaceL);
    font-weight: var(--medium);
}

.name {
    font-size: var(--textS);
    padding-block-end: var(--spaceS);
}

body {
    font-family: var(--font-family);
    font-size: var(--textS);
    padding-inline: var(--spaceL);
    color: var(--color2);
    block-size: 100vh;
    display: grid;
    text-transform: uppercase;
    font-weight: var(--light);
}

ol {
    padding-block-end: var(--spaceM);
    padding-block-start: var(--spaceS);
}

li {
    padding-block: var(--spaceS);
    border-block-end-color: var(--color2);
    border-block-end-style: solid;
	border-block-end-width: 0.10rem;
    font-size: var(--textM);
    text-transform: uppercase;
    font-weight: var(--medium);
    
    :hover {
        color: #413CFF;
        /* font-size: calc(var(--textM)*1.5); not sure how I feel about this yet */ 
    }
}

footer a {
   text-decoration: underline;
}

footer a:hover {
    color: #413CFF;
}


a:hover {
    color: #413CFF; 
}

.end {
    justify-content: end;
}

.row, .end, hgroup {
    display: flex;
    flex-direction: row;
    gap: var(--spaceM);
    justify-content: space-between;
}


@media (width < 550px) {
    .row {
        flex-direction: column;
        gap: var(--spaces);
       }
    body {
        block-size: 95vh;
    }
    li {
    font-size: calc(var(--textM)/1.5);
    }
    }