@font-face {
    font-family: "PP Editorial Old";
    src: url("../fonts/PPEditorialOld-Ultralight.otf") format("opentype");
}

@font-face {
    font-family: "ABC Whyte Edu";
    src: url("./ABCWhyteEdu-Bold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "ABC Whyte Edu";
    src: url("./ABCWhyteEdu-Extralight.woff") format("woff");
    font-weight: 200;
}

@font-face {
    font-family: "ABC Whyte Edu";
    src: url("./ABCWhyteEdu-Book.woff") format("woff");
    font-weight: 300;
}

:root {
    font-size: 120%;
    --white: #ffffff;
    --dark: #191919;
    --highlight: #2722FF; 
    --textL: 4rem;
    --textM: 2rem;
    --textS: 1rem;
    --textXS: 0.8rem;

    --spaceL: 3rem;
    --spaceM: 2rem;
    --spaceS: 1rem;

    --font-family: "ABC Whyte Edu";
    --bold: 700;
    --medium: 300;
    --light: 200;
}

body {
    font-family: var(--font-family);
    text-transform: uppercase;
    padding: var(--spaceM);
    font-weight: var(--light);
    font-size: var(--textXS);
    /* block-size: 90vh; */
}

h1 {
    font-size: var(--textM);
    font-weight: var(--medium);
}

hgroup {
    display: flex;
    flex-direction: column;
    padding-block-end: var(--spaceL);
}

.row {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding-block-end: var(--spaceL);
}

li {
    border-block-end-color: var(--dark);
    border-block-end-style: solid;
	border-block-end-width: 0.10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-block: var(--spaceM);
}

.index {
    display: flex;
    flex-direction: column;
    gap: var(--spaceM);
}

ol {
    padding-block-end: var(--spaceL);
}

li a {
    font-size: var(--textS);
    font-weight: var(--medium);
}

li a:hover {
        color: var(--highlight);
}
    
.row a:hover {
    background-color: var(--highlight);
    color: var(--white);
    border-radius: 5px;
}

footer {
    padding-block: var(--spaceL);
}

body:has(dialog[open]) { overflow: hidden; }

dialog {

    background-color: var(--dark); 
    justify-items: center;
    color: var(--white);
    padding: var(--spaceL);
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 30vw;
    height: 100vh;
    max-width: 90vw;
    max-height: 100vh;
    margin: 0;
    overflow-y: auto;

    @media(width <600px){
        width: 90vw;
        height: 100vh;         
        max-height: 100vh;       
        padding: var(--spaceM);
    }

    &[open] { display: grid }

    button {
        background-color: var(--dark);
        font-family: var(--font-family2);
        font-size: var(--textS);
        padding: calc(var(--spaceS)*0.2);
        cursor: pointer;

    }

    &::backdrop {
		background-color: rgb(0 0 0 / 75%);
	}

}

.close-button {
    padding-block-end: var(--spaceM);
}

dialog p {
    padding-block: var(--spaceS);    
}

dialog a {
    text-decoration: underline;
}

.modal-button {
    background-color: var(--dark);
    color: var(--white);
    cursor: pointer;
    border-radius: 5px;
}


@media (width > 650px) {
    hgroup {
        flex-direction: row;
        justify-content: space-between;
    }
    .row {
        justify-content: start;
        gap: var(--spaceM);
    }
}

@media (width > 950px) {
    h1 {
        font-size: calc(var(--textM)*1.5);
    }
    li a {
        font-size: var(--textM);
    }
    body {
        /* block-size: 100vh; */
        font-size: var(--textS);
    }
}


/* .iframes {
    padding-block: var(--spaceL);
    display: flex;
    flex-direction: column;

    @media (width > 650px) {
        flex-direction: row;
        width: 100%;
    }
} */

.iframes {
    padding-block: var(--spaceL);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spaceS);

    @media (width > 650px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.iframes iframe {
    width: 100%;
    height: 200px; 
    border-radius: 8px;
}