@font-face {
    font-family: "PP Editorial Old";
    src: url("../fonts/PPEditorialOld-Ultralight.otf") format("opentype");
}

:root {
    font-size: 120%;
    --color1: white;
    --color2: #191919;
    --textL: 4rem;
    --textM: 2rem;
    --textS: 1rem;

    --spaceL: 3rem;
    --spaceM: 2rem;
    --spaceS: 1rem;
}

h1 {
    font-size: var(--textL);
    text-transform: uppercase;
    padding-block-start: var(--spaceL);
}

.name {
    font-size: var(--textS);
    padding-block-end: var(--spaceS);
}

body {
    font-family: "PP Editorial Old";
    font-size: var(--textS);
    padding-inline: var(--spaceL);
    color: (var(--color2));
    block-size: 100vh;
    display: grid;
}

ol {
    padding-block-end: var(--spaceM);
    padding-block-start: var(--spaceS);
}

li {
    padding-block: var(--spaceS);
    border-block-end-color: var(--color2);
    border-block-end-style: solid;
	border-block-end-width: 0.10rem;
    font-size: var(--textM);
    :hover {
        color: #413CFF;
    }
}

footer a {
   text-decoration: underline;
}

footer a:hover {
    color: #413CFF;
}


a:hover {
    color: #413CFF; 
}

.end {
    justify-content: end;
}

.row, .end {
    display: flex;
    flex-direction: row;
    gap: var(--spaceM);
    justify-content: space-between;
}


@media (width < 550px) {
    .row {
        flex-direction: column;
        gap: var(--spaces);
       }
    body {
        block-size: 95vh;
    }
    li {
    font-size: calc(var(--textM)/1.5);
    }
    }